*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    color: #333;
    font-size: 1.25rem;
}

.header-img {
    width: auto;
    height: 10em;
    background: url('../img/20211230_020829.jpg');
    background-size: cover;
    background-position: center;
    /* clip-path: polygon(0 0, 53% 0, 53% 0, 0% 100%); */
    /* transition: clip-path 1.75s; */
}

.header-img:hover {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */

}

main {
    color: blue;
    text-shadow: blueviolet;
}

.menu {
    /* margin: 0 0 0 auto; */
    float: right;

}

.menu ul {
    list-style: none;
    margin: .25rem;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 0 .25rem;
}

.menu a {
text-decoration: none;
color: rgb(4, 112, 18);
text-transform: uppercase;
font-size: 1em;
font-weight: bold;
font-family: 'Lato';
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(131, 3, 114);
}

footer {
    color: rgb(48, 131, 10);
}