$primaryBtn : blue;
$textColor: #333;
$textondark: rgb(255, 255, 255);
$bodyc:#016f6a;
$divmain: coral;
$footerc: rgb(17, 1, 1);
$divcolor1: linear-gradient(58deg,#162417ab , #440d68be 55%,#270808da );

