@import "./variables";
@import "./header";
@import "./footer";
@import "./buttons";
// the above section is to show how to import broken up content within sass files.

    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    body {
        background-color: $bodyc;
    }

// in this menu example i used nesting where possible to cut down on addtional call backs.
.menu {
    /* margin: 0 0 0 auto; */
    float: right;
    // within the menu div we nest the additional stylings for sub elements
    ul{
        list-style: none;
    margin: .25rem;
    padding: 0;
    }

    li{
        display: inline-block;
    padding: 0 .25rem;
    }

}

.Main-paragraph {
    background-color: $divmain;
    border-radius: 8px;
    border: 3px solid rgb(142, 70, 214);
    border-radius: 5px;
    white-space: normal;
    padding: 1% 10%;
    position: relative;
    // border-color: brown;
    // box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    // box-sizing: border-box;
    // using variables to link to page color schemes
}

.col {
    height: 10em;
    width: 100%;
    margin: 10px;
    display: flex;
    height: fit-content;
    .thisone {
        overflow: none;
        min-width: 100px;
        max-width: 100%;
        padding: .5rem;
        background: $divcolor1;
        box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
        border-radius: 15px;
        color: $textondark;
        text-align: center;
        word-wrap: break-word;
    }

    .thistwo {
        max-height: 100%;
        overflow: none;
        // position: relative;
        min-width: 100px;
        max-width: 100%;
        padding: .5rem;
        background: $divcolor1;
        color: $textondark;
        box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
        border-radius: 15px;
        text-align: center;
        word-wrap: break-word;  
    }
    .thisthree {
        overflow: none;
        // position: relative;
        min-width: 100px;
        max-width: 100%;
        padding:.5rem;
        background: $divcolor1;
        box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
        border-radius: 15px;
        color: $textondark;
        text-align: center;
    }

}

