header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(144deg, #06ffdeab, #a163ca 50%, #d453b4);
  color: #333;
}

header h2 {
  text-shadow: 0 0 1px #000000, 0 0 3px #a88100bd;
}

footer {
  color: #110101;
  background-color: #ff6c37;
  border: 3px solid #8e46d6;
}

.button-64 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  -webkit-box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
          box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: .05rem;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #05062d;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 20px;
    min-width: .05rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #016f6a;
}

.menu {
  /* margin: 0 0 0 auto; */
  float: right;
}

.menu ul {
  list-style: none;
  margin: .25rem;
  padding: 0;
}

.menu li {
  display: inline-block;
  padding: 0 .25rem;
}

.Main-paragraph {
  background-color: coral;
  border-radius: 8px;
  border: 3px solid #8e46d6;
  border-radius: 5px;
  white-space: normal;
  padding: 1% 10%;
  position: relative;
}

.col {
  height: 10em;
  width: 100%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.col .thisone {
  overflow: none;
  min-width: 100px;
  max-width: 100%;
  padding: .5rem;
  background: linear-gradient(58deg, #162417ab, #440d68be 55%, #270808da);
  -webkit-box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
          box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
  border-radius: 15px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.col .thistwo {
  max-height: 100%;
  overflow: none;
  min-width: 100px;
  max-width: 100%;
  padding: .5rem;
  background: linear-gradient(58deg, #162417ab, #440d68be 55%, #270808da);
  color: white;
  -webkit-box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
          box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
  border-radius: 15px;
  text-align: center;
  word-wrap: break-word;
}

.col .thisthree {
  overflow: none;
  min-width: 100px;
  max-width: 100%;
  padding: .5rem;
  background: linear-gradient(58deg, #162417ab, #440d68be 55%, #270808da);
  -webkit-box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
          box-shadow: inset 0px 0px 0px 8px rgba(255, 196, 0, 0.322);
  border-radius: 15px;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */